[models]
  [models.llm]
    [models.llm."chatglm-6b-int4"]
    type = "chatglm"
    path = "THUDM/chatglm-6b-int4"
    checkpoint = "THUDM/chatglm-6b-int4"

  [models.embeddings]
    [models.embeddings."text2vec-large-chinese"]
    type = "default"
    path = "GanymedeNil/text2vec-large-chinese"

[auth]
tokens = ["sk-token1"]

[tunnel]
  [tunnel.ngrok]
  token = ""
  region = "jp"
  subdomain = ""
  [tunnel.cloudflare]
  cloudflared_path = "/usr/local/bin/cloudflared"
  name = "api"
